<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{components/head :: #head}">
    <title>Error</title>
</head>
<body>
<div class="error-container justify-content-center align-items-center d-flex flex-column vh-100">
      <h1>Ошибка сервера</h1>
      <p>На сервере произошла непредвиденная ошибка. Пожалуйста, подождите, она вскоре будет исправлена</p>
      <p>Попробуйте <a class="home page link" th:href="@{/}">вернутся на главную страницу</a></p>
</div>

<div th:insert="~{components/head :: #bootstrapScript}"></div>
</body>
</html>