<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="~{components/head :: #head}"></div>
</head>
<body>
<div th:insert="~{/components/navbar}"></div>

<!--location-card-->
<section th:class="${locations == null or locations.size() == 0}? 'main-content-empty' :'main-content'">
    <div class="container">
        <div class="row">
            <div th:each="location : ${locations}" class="col-lg-4 .col-sm-6 mb-3">
                <div class="location-card">
                    <img th:src="@{'https://openweathermap.org/img/wn/' + ${location.getWeatherDto().getWeather()[0].get('icon')} + '@2x.png'}"
                         class="card-img-top w-25 h-auto" alt="Иконка погоды">

                    <span class="me-2 current-time" th:text="${location.getWeatherDto().getCurrentTime()}"></span>

                    <div class="location-card-body">
                        <a th:href="'location?name='+${location.name} +'&latitude='+${location.latitude} + '&longitude=' + ${location.longitude}">
                            <h4 class="card-title" th:text="${location.name}"></h4>
                        </a>
                        <div class="location-bottom-details">
                             <div>
                                <span class="me-2" th:text="'Температура воздуха: ' +  ${location.getWeatherDto().getMain().get('temp')} + ' °C'"></span>
                                <a><i class="fa-solid fa-temperature-three-quarters"></i></a>
                            </div>
                            <div >
                                <span class="me-2" th:text="'По ощущению: ' +  ${location.getWeatherDto().getMain().get('feels_like')} + ' °C'"></span>
                                <a><i class="fa-solid fa-person"></i></a>
                            </div>
                            <div>
                                <span class="me-2" th:text="'Описание: ' + ${location.getWeatherDto().getWeather()[0].get('description')}"></span>
                                <a><i class="fa-solid fa-book-open"></i></a>
                            </div>
                            <div>
                                <span class="me-2" th:text="'Влажность: ' + ${location.getWeatherDto().getMain().get('humidity')} + '%'"></span>
                                <a><i class="fa-solid fa-droplet"></i></a>
                            </div>

                            <div>
                                <span class="me-2" th:text="'Давление: ' + ${location.getWeatherDto().getMain().get('pressure')} + ' гПа'"></span>
                                <a><i class="fa-solid fa-weight-hanging"></i></a>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <span class="me-2"th:text="'Ветер: ' + ${location.getWeatherDto().getWind().get('speed')}+ ' м/с ' + ${location.getWeatherDto().getWindDirection()}"></span>
                                <a><i class="fa-solid fa-wind"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="location-card-button">
                        <form action="delete" method="post" enctype="application/x-www-form-urlencoded" class="w-100">
                            <input type="hidden" name="locationId" th:value="${location.id}"/>
                            <button type="submit" class="btn btn-primary w-100">Убрать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${locationRepeat}" class="d-flex justify-content-center align-items-center">
        <span th:text="'Локация: ' +  ${locationRepeat} + ' - уже добавлена'" class="errors"></span>
    </div>
</section>
<!--location-card-->

<!--footer-->
<div th:insert="~{/components/footer}"></div>
<!--footer-->

<!--popup-->
<div th:insert="~{/components/popup}"></div>
<!--popup-->

<!--scripts-->
<div th:insert="~{components/head :: #bootstrapScript}"></div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').toolip();
    });
</script>
<!--scripts-->

</body>
</html>

