<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{components/head :: #head}">
    <title>Search Location</title>
</head>
<body>

<div th:insert="~{/components/navbar}"></div>

<!--location-card-->
<section class="main-content">
    <div class="container">
        <div th:if="${foundLocations == null || foundLocations.size() == 0}" class="d-flex justify-content-center align-items-center">
            <span class="errors">По вашему запросу ничего не найдено. Попробуйте изменить условия поиска.</span>
        </div>
        <div class="row">
            <div th:each="location : ${foundLocations}" class="col-lg-4 .col-sm-6 mb-3">
                <div class="location-card">
                    <div class="location-card-body">
                        <a th:href="'location?name='+${location.name} +'&latitude='+${location.latitude} + '&longitude=' + ${location.longitude}">
                            <h4 class="card-title text-center" th:text="${location.name}"></h4>
                        </a>
                        <div class="location-bottom-details">
                            <p th:text="'Координаты: ' + ${location.latitude} +', '  + ${location.longitude}"></p>
                            <p th:text="'Страна: ' + ${location.country}"></p>
                            <p th:text="${location.state != null ? 'Штат: ' + location.state : ''}"></p>
                        </div>
                    </div>
                    <div class="location-card-button">
                        <form action="location" method="post" enctype="application/x-www-form-urlencoded" class="w-100">
                            <input type="hidden" name="name" th:value="${location.name}"/>
                            <input type="hidden" name="latitude" th:value="${location.latitude}"/>
                            <input type="hidden" name="longitude" th:value="${location.longitude}"/>
                            <button type="submit" class="btn btn-primary w-100">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--location-card-->

<!--footer-->
<div th:insert="~{/components/footer}"></div>
<!--footer-->

<!--popup-->
<div th:insert="~{/components/popup}"></div>
<!--popup-->

<!--scripts-->
<div th:insert="~{components/head :: #bootstrapScript}"></div>
<!--scripts-->

</body>
</html>

